<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1>Welcome, <%= user.userName %></h1>
      <a href="/logout">Logout</a>
    </header>

    <h1>Habit Page</h1>

    <!-- <form action="/habit/addHabit" method="POST">
      <input type="text" name="name">
      <button>Add</button>
    </form> -->

    <div>
      <h1>Current Habit:-</h1>
      <div>
          <h2><%= habit[0].name %></h2></li>
      </div>
    </div>
  </body>
</html>
